img {
  width: 23em;
  margin: .5em;
  height: 9em;
}

.row1 {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  margin: .5em;
}

.searchresult {
  display: flex;
  flex-wrap: wrap;
}
